name: E2E Tests

on:
  push:
    branches:
      - "main"
  pull_request:


jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Create kind cluster
        run: kind create cluster

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e


  chainsaw-e2e:
    name: Chainsaw Test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        k8s-version: ['1.26.14', '1.27.11']
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: Create KinD cluster
      env:
        KIND_K8S_VERSION: ${{ matrix.k8s-version}}
        CHAINSAW_KUBECONFIG: kind-kubeconfig-${{ matrix.k8s-version }}
      run: make setup-chainsaw-cluster
    - name: Setup Chainsaw
      env:
        KIND_K8S_VERSION: ${{ matrix.k8s-version }}
        CHAINSAW_KUBECONFIG: kind-kubeconfig-${{ matrix.k8s-version }}
      run: make setup-chainsaw-e2e
    - name: Run chainsaw-e2e
      env:
        KIND_K8S_VERSION: ${{ matrix.k8s-version }}
        CHAINSAW_KUBECONFIG: kind-kubeconfig-${{ matrix.k8s-version }}
      run: make chainsaw-e2e
